.col {
  flex: 0 1 20%;
  max-width: 250px;
  margin-right: 1.4rem;
  width: 100%;
  overflow: hidden;
}
.img {
  max-height: 250px;
  transition-duration: 1s;
}
.img:hover {
  position: absolute;
  z-index: 5;
  max-width: 300px;
  overflow: none;
  transform: scale(1.1);
  opacity: 01;
  overflow: hidden;
}
.product {
  text-decoration: none;
  color: #333;
}
.title {
  width: 250px;
  overflow: hidden;
  /* word-wrap: break-word; */
  line-height: 25px;
  -webkit-line-clamp: 2;
  max-height: 53px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  letter-spacing: 2px;
  font-weight: 550;
  opacity: 0.9;
}
.price {
  letter-spacing: 1.5px;
  font-weight: 700;
  opacity: 0.8;
}
.provide {
  text-decoration: none;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
}
